<h5>Gravarar:</h5>
<img {{bindAttr src="gravatarURL"}} class="img-polaroid" />

<h5>ID:</h5>
{{id}}

<h5>Display Name:</h5>
{{displayName}}

<h5>Email:</h5>
{{email}}


<br><br><br>
<p>{{#linkTo users.edit content}}Edit User{{/linkTo}}</p>
