<dl class="dl-horizontal">
  <dd><img {{bindAttr src="gravatarURL"}} class="img-polaroid" /></dd>
</dl>

<dl class="dl-horizontal">
  <dt>ID:</dt>
  <dd>{{id}}</dd>
</dl>

<dl class="dl-horizontal">
  <dt>Display Name:</dt>
  <dd>{{displayName}}</dd>
</dl>

<dl class="dl-horizontal">
  <dt>Email:</dt>
  <dd>{{email}}</dd>
</dl>


<br><br><br>
<p>{{#linkTo users.edit content classNames="btn"}}Edit User{{/linkTo}}</p>
