<header class="header">
	<h1>EmberTrackr</h1>
    <div>
        {{#linkTo tickets class="btn"}}Tickets{{/linkTo}}
        {{#linkTo users class="btn"}}Users{{/linkTo}}    
    </div>
</header>

{{outlet}}

<footer class="footer">
	<div class="container">
		<p>Copyright © {{year}} MyCompany</p>
	</div>
</footer>